<div class="container">
	<div class="row">
        <div class="box" style="text-align: center">
			<h1>資料地圖化，By Yee7Yee3</h1>
			<div class="col-lg-12">
			    <!-- <div class="input-group">
				    <input type="text" class="form-control" placeholder="尋找地圖..." style="height: 5em">
				    <span class="input-group-btn">
				        <button class="btn btn-lg btn-primary" type="button">搜尋！</button>
				    </span>
			    </div> -->
			    <!-- /input-group -->

                <div id="custom-search-input">
		            <div class="input-group col-md-12">
		                <input type="text" class="form-control input-lg" placeholder="搜尋地圖..." />
		                <span class="input-group-btn">
		                    <button class="btn btn-info btn-lg" type="button">
		                        <i class="glyphicon glyphicon-search"></i>
		                    </button>
		                </span>
		            </div>
	            </div>

			</div>
		</div>
    </div>
        

</div>
<!-- /.container -->
