
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!--<p>Copyright &copy; Yee7Yee3 2015</p>-->
                <p>OpenSource On <a href="https://github.com/deror1869107/Mapper/">Github</a> Yee7Yee3 2015</p>
            </div>
        </div>
    </div>
</footer>
